<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="content_container">
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Mohammed Dahhaoui. All rights reserved.</p>
            <div class="social-links">
                <a href="https://www.instagram.com/moha_fg" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram
                  </a>
                  
                  <a href="https://www.facebook.com/profile.php?id=61555319122882" target="_blank">
                    <i class="fab fa-facebook"></i> Facebook
                  </a>
                  
                  <a href="https://github.com/znaGuimoho" target="_blank">
                    <i class="fab fa-github"></i> GitHub
                  </a>
                  
            </div>
        </div>
    </footer>
</body>
</html>